VITE_RECAPTCHA_SITE_KEY=SEU_SITE_KEY
RECAPTCHA_SECRET_KEY=SUA_SECRET_KEY
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=EMAIL_DO_APLICATIVO_GMAIL
SMTP_PASS=SENHA_DO_APLICATIVO_GMAIL
MAIL_TO=EMAIL_DESTINO_CONTATO